.belt-colors {
  margin: 2em 0 0 0;
}

.belt-color{
  height: 4em;
  outline: 2px solid black;
}

.jacket-color {
  font-weight: bolder;
  -webkit-text-stroke: 1px white;
  font-size: 2em;
    height: 4em;
  outline: 2px solid black;
}